<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>teste</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap styles -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
        <!--<link rel="stylesheet" href="css/jquery.fileupload.css">-->
        <style>
            .fileinput-button {
                position: relative;
                overflow: hidden;
            }
            .fileinput-button input {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                opacity: 0;
                -ms-filter: 'alpha(opacity=0)';
                font-size: 200px;
                direction: ltr;
                cursor: pointer;
            }

            /* Fixes for IE < 8 */
            @media screen\9 {
                .fileinput-button input {
                    filter: alpha(opacity=0);
                    font-size: 100%;
                    height: 100%;
                }
            }
        </style>
        <!-- CSS adjustments for browsers with JavaScript disabled -->
        <style>
            /* Hide Angular JS elements before initializing */
            .ng-cloak {
                display: none;
            }
        </style>
    </head>
    <body>

        <div class="container">
            <!-- The file upload form used as target for the file upload widget -->
            <form id="fileupload" action="./upload" method="POST" enctype="multipart/form-data" ng-app="demo" ng-controller="DemoFileUploadController" file-upload="options" ng-class="{'fileupload-processing': processing() || loadingFiles}">
                <!-- Redirect browsers with JavaScript disabled to the origin page -->
                <noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></noscript>
                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                <div class="row fileupload-buttonbar">
                    <div class="col-lg-7">
                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <span class="btn btn-default fileinput-button" ng-class="{disabled: disabled}">
                            <span>add</span>
                            <input type="file" name="files[]" multiple ng-disabled="disabled">
                        </span>
                        <span class="btn btn-default fileinput-button" ng-class="{disabled: disabled}">
                            <span>add zip/rar</span>
                            <input type="file" name="files[]" ng-disabled="disabled">
                        </span>
                        <button type="button" class="btn btn-default start" ng-click="submit()">
                            <span>start</span>
                        </button>
                        <button type="button" class="btn btn-default cancel" ng-click="cancel()">
                            <span>cancel</span>
                        </button>
                        <!-- The global file processing state -->
                        <span class="fileupload-process"></span>
                    </div>
                    <!-- The global progress state -->
                    <div class="col-lg-5 fade" data-ng-class="{in: active()}">
                        <!-- The global progress bar -->
                        <div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                        <!-- The extended global progress state -->
                        <div class="progress-extended">&nbsp;</div>
                    </div>
                </div>
                <!-- The table listing the files available for upload/download -->
                <div ui-sortable="sortableOptions" ng-model="queue">
                    <div ng-repeat="file in queue" ng-controller="FileController">
                        <table class="table table-striped files ng-cloak">
                            <tr ng-class="{'processing': file.$processing()}">
                                <td data-ng-switch data-on="!!file.thumbnailUrl">
                                    <div class="preview" data-ng-switch-when="true">
                                        <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}"><img data-ng-src="{{file.thumbnailUrl}}" width="3" alt=""></a>
                                    </div>
                                    <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                                </td>
                                <td>
                                    <p class="name" data-ng-switch data-on="!!file.url">
                                        <span data-ng-switch-when="true" data-ng-switch on="!!file.thumbnailUrl">
                                            <a ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                                            <a ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                                        </span>
                                        <span data-ng-switch-default>{{file.name}}</span>
                                    </p>
                                    <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                                    <div>Ordem: {{file.info.order}} | bla: <input type="text" ng-model="file.info.bla"> {{file.info.bla}}</div>
                                </td>
                                <td>
                                    <p class="size">{{file.size| formatFileSize}}</p>
                                    <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default start" data-ng-click="file.$submit()" data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
                                        <span>start</span>
                                    </button>
                                    <button type="button" class="btn btn-default cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                                        <span>cancel</span>
                                    </button>
                                    <button ng-controller="FileDestroyController" type="button" class="btn btn-default destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
                                        <span>delete</span>
                                    </button>
                                    <span ng-controller="FileAlterController" class="btn btn-default fileinput-button" data-ng-hide="!file.url">
                                        <span>alter</span>
                                        <input type="file" name="file">
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <pre>{{ queue | json }}</pre>
            </form>
        </div>
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/angular/angular.js"></script>
        <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
        <script src="../bower_components/jquery-ui/ui/jquery-ui.js"></script>
        <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
        <script src="../bower_components/blueimp-load-image/js/load-image.min.js"></script>
        <!-- The Canvas to Blob plugin is included for image resizing functionality -->
        <script src="../bower_components/blueimp-canvas-to-blob/js/canvas-to-blob.js"></script>
        <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <!-- blueimp Gallery script -->
        <!--        <script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>-->
        <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
        <script src="../bower_components/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
        <!-- The basic File Upload plugin -->
        <script src="../bower_components/blueimp-file-upload/js/jquery.fileupload.js"></script>
        <!-- The File Upload processing plugin -->
        <script src="../bower_components/blueimp-file-upload/js/jquery.fileupload-process.js"></script>
        <!-- The File Upload image preview & resize plugin -->
        <!--<script src="../bower_components/blueimp-file-upload/js/jquery.fileupload-image.js"></script>-->
        <!-- The File Upload audio preview plugin -->
        <script src="../bower_components/blueimp-file-upload/js/jquery.fileupload-audio.js"></script>
        <!-- The File Upload video preview plugin -->
        <script src="../bower_components/blueimp-file-upload/js/jquery.fileupload-video.js"></script>
        <!-- The File Upload validation plugin -->
        <script src="../bower_components/blueimp-file-upload/js/jquery.fileupload-validate.js"></script>
        <!-- The File Upload Angular JS module -->
        <script src="../bower_components/blueimp-file-upload/js/jquery.fileupload-angular.js"></script>
        <!-- The main application script -->

        <script src="../bower_components/angular-ui-sortable/sortable.js"></script>
        <script>
            (function() {
                'use strict';

                var url = './upload';

                angular.module('demo', [
                    'blueimp.fileupload',
                    'ui.sortable'
                ])
                        .config([
                            '$httpProvider', 'fileUploadProvider',
                            function($httpProvider, fileUploadProvider) {
                                delete $httpProvider.defaults.headers.common['X-Requested-With'];
                                fileUploadProvider.defaults.redirect = window.location.href.replace(
                                        /\/[^\/]*$/,
                                        '/cors/result.html?%s'
                                        );
                                //if (isOnGitHub) {
                                    // Demo settings:
                                    angular.extend(fileUploadProvider.defaults, {
                                        // Enable image resizing, except for Android and Opera,
                                        // which actually support image resizing, but fail to
                                        // send Blob objects via XHR requests:
                                        disableImageResize: /Android(?!.*Chrome)|Opera/
                                                .test(window.navigator.userAgent),
                                        maxFileSize: 5000000,
                                        acceptFileTypes: /(\.|\/)(gif|jpe?g|png|zip)$/i
                                    });
                                //}
                            }
                        ])

                        .controller('DemoFileUploadController', [
                            '$scope', '$http',
                            function($scope, $http) {
                                $scope.options = {
                                    url: url,
                                    submit: function (e, data) {
                                        data.formData = data.files[0].info;
                                        return true;
                                    }
                                };
                                $scope.sortableOptions = {
                                    // axis: 'y',
                                    tolerance: 'pointer',
                                    update: function (e, ui) {
                                        var item = ui.item.scope();
                                        //console.log('item sortable', item);
                                        //console.log('sorteou', ui);
                                    }
                                }
                                $scope.$watchCollection('queue', function (files) {
                                    //console.log('meu collection', files);
                                    for (var i = 0; i < files.length; i+= 1) {
                                        var file = files[i];
                                        file.info = file.info || { order:0 };
                                        file.info.order = i + 1;
                                    }
                                });
                                $scope.loadingFiles = true;
                                $http.get(url)
                                        .then(
                                                function(response) {
                                                    $scope.loadingFiles = false;
                                                    $scope.queue = response.data.files || [];
                                                },
                                                function() {
                                                    $scope.loadingFiles = false;
                                                }
                                        );
                            }
                        ])

                        .controller('FileController', [
                            '$scope', '$http',
                            function($scope, $http) {
                                var file = $scope.file,
                                        state;

                                //file.info = file.info || { order:0 };

                                $scope.$watch('file', function (newFile, oldFile) {

                                    if (newFile !== oldFile) {
                                        $http({
                                            url: file.deleteUrl,
                                            method: 'PUT',
                                            /*params: {
                                                '_method': 'PUT'
                                            },*/
                                            data: {
                                                order: newFile.info.order,
                                                bla: newFile.info.bla
                                            }
                                        }).then(
                                                function (response) {
                                                    //angular.extend($scope.file, response.data);
                                                },
                                                function () {
                                                    throw new Error('erro!')
                                                });
                                    }
                                }, true);

                                /*$scope.$on('updateOrder', function ($event, val) {
                                    console.log('recebi!' + $scope.$index, file);
                                })*/

                                /*$scope.$watch('file', function (newVal) {
                                    file.info.order = $scope.$index + 1;
                                });*/

                                /*if (file.url) {

                                    file.$state = function() {
                                        return state;
                                    };
                                    file.$destroy = function() {
                                        state = 'pending';
                                        return $http({
                                            url: file.deleteUrl,
                                            method: file.deleteType
                                        }).then(
                                                function() {
                                                    state = 'resolved';
                                                    $scope.clear(file);
                                                },
                                                function() {
                                                    state = 'rejected';
                                                }
                                        );
                                    };
                                } else if (!file.$cancel && !file._index) {
                                    file.$cancel = function() {
                                        $scope.clear(file);
                                    };
                                }*/
                            }
                        ])

                        .controller('FileDestroyController', [
                            '$scope', '$http',
                            function($scope, $http) {
                                var file = $scope.file,
                                        state;
                                if (file.url) {
                                    file.$state = function() {
                                        return state;
                                    };
                                    file.$destroy = function() {
                                        state = 'pending';
                                        return $http({
                                            url: file.deleteUrl,
                                            method: file.deleteType
                                        }).then(
                                                function() {
                                                    state = 'resolved';
                                                    $scope.clear(file);
                                                },
                                                function() {
                                                    state = 'rejected';
                                                }
                                        );
                                    };
                                } else if (!file.$cancel && !file._index) {
                                    file.$cancel = function() {
                                        $scope.clear(file);
                                    };
                                }
                            }
                        ])

                        .controller('FileAlterController', [
                            '$scope', '$element',
                            function($scope, $element) {
                                var file = $scope.file,
                                    input = $element.find('input[type=file]');

                                if (file.url) { // já fez o upload
                                    input.fileupload({
                                        url: file.deleteUrl,
                                        submit: function (e, data) {
                                            data.formData = file.info;
                                            return true;
                                        },
                                        done: function (e, data) {
                                            $scope.$apply(function () {
                                                $scope.replace([file], data.result.files);
                                            });
                                        }
                                    });
                                }

                                /*$scope.$on('$destroy', function () {
                                    // avoid memory leak
                                    input.fileupload('destroy');
                                });*/

                            }
                        ]);
            }());
        </script>
    </body>
</html>
