<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>teste</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap styles -->
        {% stylesheets
            '@bootstrap_css'
            '@blueimp_fileupload_css'
            output="css/*.css" combine=false
        %}
            <link rel="stylesheet" href="{{ app.request.basepath ~ '/assets/' ~ asset_url }}"/>
        {% endstylesheets %}
        <style>
            /* Make clicks pass-through */
            .spinner, .bar {
                pointer-events: none;
                -webkit-pointer-events: none;
            }

            .bar {
                background: #29d;

                /*position: fixed;
                z-index: 100;
                top: 0;
                left: 0;*/

                width: 100%;
                height: 2px;

                -webkit-transition: all 200ms ease;
                transition: all 200ms ease;
            }

            /* Fancy blur effect */
            .bar .peg {
                display: block;
                position: absolute;
                right: 0px;
                width: 100px;
                height: 100%;
                box-shadow: 0 0 10px #29d, 0 0 5px #29d;
                opacity: 1.0;

                -webkit-transform: rotate(3deg) translate(0px, -4px);
                -moz-transform: rotate(3deg) translate(0px, -4px);
                -ms-transform: rotate(3deg) translate(0px, -4px);
                -o-transform: rotate(3deg) translate(0px, -4px);
                transform: rotate(3deg) translate(0px, -4px);
            }

            /* Remove these to get rid of the spinner */
            .spinner {
                display: inline-block;
                z-index: 100;
            }

            .spinner .spinner-icon {
                display:block;

                width: 14px;
                height: 14px;

                border:  solid 2px transparent;
                border-top-color:  #29d;
                border-left-color: #29d;
                border-radius: 12px;

                -webkit-animation: nprogress-spinner 400ms linear infinite;
                -moz-animation:    nprogress-spinner 400ms linear infinite;
                -ms-animation:     nprogress-spinner 400ms linear infinite;
                -o-animation:      nprogress-spinner 400ms linear infinite;
                animation:         nprogress-spinner 400ms linear infinite;
            }
            .spinner.lg .spinner-icon {
                width: 32px;
                height: 32px;
                border-width: 5px;
                border-radius: 30px;
            }

            @-webkit-keyframes nprogress-spinner {
                0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
            }
            @-moz-keyframes nprogress-spinner {
                0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
                100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
            }
            @-o-keyframes nprogress-spinner {
                0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
                100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
            }
            @-ms-keyframes nprogress-spinner {
                0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
                100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
            }
            @keyframes nprogress-spinner {
                0%   { transform: rotate(0deg);   transform: rotate(0deg); }
                100% { transform: rotate(360deg); transform: rotate(360deg); }
            }

            /*
            .page.ng-enter,
            /*.page.ng-move, * /
            .page.ng-leave {
                -webkit-transition:.45s ease;
                   -moz-transition:.45s ease;
                     -o-transition:.45s ease;
                        transition:.45s ease;
                -webkit-transition-property: opacity, -webkit-transform;
                   -moz-transition-property: opacity, -moz-transform;
                     -o-transition-property: opacity, -o-transform;
                        transition-property: opacity, transform;
            }
            .page.ng-enter,
            /*.page.ng-move, * /
            .page.ng-leave.ng-leave-active {
                opacity:0;
                -webkit-transform: scale(0.7) rotate(-5deg);
                   -moz-transform: scale(0.7) rotate(-5deg);
                     -o-transform: scale(0.7) rotate(-5deg);
                        transform: scale(0.7) rotate(-5deg);
            }

            .page.ng-enter.ng-enter-active,
            /*.page.ng-move.ng-move-active, * /
            .page.ng-leave {
                opacity:1;
                -webkit-transform: none;
                   -moz-transform: none;
                     -o-transform: none;
                        transform: none;
            }

            .page.ng-enter-active + .page.ng-leave {
                margin-left: -180px;
                position:absolute;
            }/**/

        </style>
    </head>
    <body>

        {{ source('upload.html') }}

        {#% javascripts output="js/*.js" debug=false combine=true
            '@bootstrap'
            '@blueimp_fileupload'
            '@angular_sortable'
        %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endjavascripts %#}
        <script>
            $(function () {
                $(document).bind('drop dragover', function (e) {
                    e.preventDefault();
                });
                $(document).bind('dragover', function (e) {
                    var dropZone = $('.dropzone'),
                        foundDropzone,
                        timeout = window.dropZoneTimeout;

                    if (!timeout) {
                        dropZone.addClass('in');
                    } else {
                        clearTimeout(timeout);
                    }
                    var found = false,
                    node = e.target;

                    do {
                        if ($(node).hasClass('dropzone')) {
                            found = true;
                            foundDropzone = $(node);
                            break;
                        }

                        node = node.parentNode;

                    } while (node != null);

                    dropZone.removeClass('hover');

                    if (found) {
                        foundDropzone.addClass('hover');
                    }

                    window.dropZoneTimeout = setTimeout(function () {
                        window.dropZoneTimeout = null;
                        dropZone.removeClass('in hover');
                    }, 100);
                });
            });
            (function() {
                'use strict';

                var url = './upload';

                angular.module('debounce', [])
                        // http://unscriptable.com/2009/03/20/debouncing-javascript-methods/
                        // adapted from angular's $timeout code
                        .factory('$debounce', [
                            '$rootScope', '$browser', '$q', '$exceptionHandler',
                            function($rootScope, $browser, $q, $exceptionHandler) {
                                var deferreds = {},
                                    methods = {},
                                    uuid = 0;

                                function debounce(fn, delay, invokeApply) {
                                    var deferred = $q.defer(),
                                        promise = deferred.promise,
                                        skipApply = (angular.isDefined(invokeApply) && !invokeApply),
                                        timeoutId, cleanup,
                                        methodId, bouncing = false;

                                    // check we dont have this method already registered
                                    angular.forEach(methods, function(value, key) {
                                        if(angular.equals(methods[key].fn, fn)) {
                                            bouncing = true;
                                            methodId = key;
                                        }
                                    });

                                    // not bouncing, then register new instance
                                    if(!bouncing) {
                                        methodId = uuid++;
                                        methods[methodId] = {fn: fn};
                                    } else {
                                        // clear the old timeout
                                        deferreds[methods[methodId].timeoutId].reject('bounced');
                                        $browser.defer.cancel(methods[methodId].timeoutId);
                                    }

                                    var debounced = function() {
                                        // actually executing? clean method bank
                                        delete methods[methodId];

                                        try {
                                            deferred.resolve(fn());
                                        } catch(e) {
                                            deferred.reject(e);
                                            $exceptionHandler(e);
                                        }

                                        if (!skipApply) $rootScope.$apply();
                                    };

                                    timeoutId = $browser.defer(debounced, delay);

                                    // track id with method
                                    methods[methodId].timeoutId = timeoutId;

                                    cleanup = function(reason) {
                                        delete deferreds[promise.$$timeoutId];
                                    };

                                    promise.$$timeoutId = timeoutId;
                                    deferreds[timeoutId] = deferred;
                                    promise.then(cleanup, cleanup);

                                    return promise;
                                }


                                // similar to angular's $timeout cancel
                                debounce.cancel = function(promise) {
                                    if (promise && promise.$$timeoutId in deferreds) {
                                        deferreds[promise.$$timeoutId].reject('canceled');
                                        return $browser.defer.cancel(promise.$$timeoutId);
                                    }
                                    return false;
                                };

                                return debounce;
                            }
                        ])
                        ;

                angular.module('re.errorhandler', [])
                        .config([
                            '$httpProvider',
                            function($httpProvider) {
                                $httpProvider.interceptors.push('errorHttpInterceptor');
                                // coloca header de requested-with em todos os ajax do angular (necessario pra detectar via php)
                                //$httpProvider.defaults.headers.common['X-Ajax'] = '1';
                            }
                        ])
                        .factory('errorHttpInterceptor', [
                            '$q',
                            function ($q) {
                                return {
                                    responseError: function responseError(rejection) {
                                        alert('Erro http: '+rejection.status+' : '+rejection.data);
                                        console.log(rejection);
                                        return $q.reject(rejection);
                                    },
                                    requestError: function requestError(rejection) {
                                        alert('Erro http: '+rejection.status+' : '+rejection.data);
                                        console.log(rejection);
                                        return $q.reject(rejection);
                                    }
                                };
                            }
                        ])
                        .factory('$exceptionHandler', [
                            function () {
                                return function (exception, cause) {
                                    exception.message += ' (caused by "' + cause + '")';
                                    alert(exception.message);
                                    throw exception;
                                };
                            }
                        ])
                        ;

                angular.module('demo', [
                    're.errorhandler',
                    'debounce',
                    'ngAnimate',
                    'blueimp.fileupload',
                    'ui.sortable'
                ])
                        .config([
                            '$httpProvider', 'fileUploadProvider',
                            function($httpProvider, fileUploadProvider) {
                                delete $httpProvider.defaults.headers.common['X-Requested-With'];
                                fileUploadProvider.defaults.redirect = window.location.href.replace(
                                        /\/[^\/]*$/,
                                        '/cors/result.html?%s'
                                        );
                                //if (isOnGitHub) {
                                    // Demo settings:
                                    angular.extend(fileUploadProvider.defaults, {
                                        maxChunkSize: 2000000, // 2 MB
                                        previewMaxWidth: 180,
                                        previewMaxHeight: 0,
                                        // Enable image resizing, except for Android and Opera,
                                        // which actually support image resizing, but fail to
                                        // send Blob objects via XHR requests:
                                        disableImageResize: /Android(?!.*Chrome)|Opera/
                                                .test(window.navigator.userAgent),
                                        maxFileSize: 9000000,
                                        acceptFileTypes: /(\.|\/)(gif|jpe?g|png|zip)$/i
                                    });
                                //}
                            }
                        ])

                        .controller('DemoFileUploadController', [
                            '$scope', '$http',
                            function($scope, $http) {
                                $scope.options = {
                                    url: url,
                                    dropZone: $('.dropzone'),
                                    submit: function (e, data) {
                                        data.formData = data.files[0].info;
                                        return true;
                                    }
                                };
                                $scope.$sorted = false;
                                $scope.sortableOptions = {
                                    // axis: 'y',
                                    tolerance: 'pointer',
                                    handle: '.page-move-handle',
                                    update: function (e, ui) {
                                        var item = ui.item.scope();

                                        if (item.file.$state !== 'ok') {
                                            ui.item.sortable.cancel();
                                        }
                                        console.log('item sortable', item);
                                        $scope.$sorted = true;
                                        //console.log('sorteou', ui);
                                    }
                                };

                                $scope.$watchCollection('queue', function (files) {
                                    //console.log('meu collection', files);
                                    for (var i = 0; i < files.length; i+= 1) {
                                        var file = files[i];
                                        file.info = file.info || { order:false };
                                        if ($scope.$sorted || file.info.order === false) {
                                            file.info.order = i + 1;
                                        }

                                        if (i % 2 === 0 && file.info.double) {
                                            file.info.double = false; // obriga pagina não-impar a nunca ser dupla
                                            if (files[i-1]) files[i-1].info.double = true; // se tava como dupla, definir a anterior
                                        }
                                    }
                                    $scope.$sorted = false;
                                });
                                $scope.loadingFiles = true;
                                $http.get(url)
                                        .then(
                                                function(response) {
                                                    $scope.loadingFiles = false;
                                                    $scope.queue = response.data.files || [];
                                                },
                                                function() {
                                                    $scope.loadingFiles = false;
                                                }
                                        );
                            }
                        ])

                        .directive('fileUploadExtend', [
                            function () {
                                return {
                                    restrict: 'A',
                                    priority: -128, // executa por ultimo
                                    link: function postLink($scope, $elem, $attrs) {
                                        // aqui vai funcoes que sobrescrever algumas funcionalidades
                                        // do fileupload para melhorar alguns aspectos (em vez de mexer
                                        // no arquivo fonte
                                        $scope.replace = function (oldFiles, newFiles) {
                                            var queue = this.queue,
                                                file = oldFiles[0],
                                                i,
                                                j;
                                            for (i = 0; i < queue.length; i += 1) {
                                                if (queue[i] === file) {
                                                    Array.prototype.splice.apply(queue, [i, 1].concat(newFiles));
                                                    // queue.splice(i, 1, newFile[0], newFile[1], ... newFile[n]);
                                                    return;
                                                }
                                            }
                                        };
                                    }
                                };
                            }
                        ])

                        .directive('page', [
                            '$http', '$debounce',
                            function ($http, $debounce) {
                                return {
                                    restrict: 'A',
                                    priority: 128, // executa primeiro
                                    controller: function ($scope, $element, $attrs) {
                                        var file = $scope.file;

                                        file.$state = file.$state || 'ok';
                                        if (!file.$save) {
                                            file.$save = function () {
                                                if (file.id) {
                                                    file.$state = 'pending';
                                                    $http({
                                                        url: file.deleteUrl,
                                                        method: 'PUT',
                                                        data: file.info
                                                    }).then(
                                                            function (response) {
                                                                angular.extend($scope.file.info, response.data.info);
                                                                file.$state = 'ok';
                                                            },
                                                            function () {
                                                                file.$state = 'rejected';
                                                                // TODO: tratar erro
                                                                throw new Error('erro!')
                                                            });
                                                }
                                            }
                                        }

                                        // verifica alterações e salva
                                        $scope.$watch('file.info', function (newFile, oldFile) {
                                            if (newFile !== oldFile) {
                                                $debounce(file.$save, 500);
                                            }
                                        }, true);
                                    }
                                };
                            }
                        ])

                        .directive('pageDestroy', [
                            '$http',
                            function ($http) {
                                return {
                                    restrict: 'A',
                                    priority: 128, // executa primeiro
                                    require: '^page',
                                    controller: function ($scope) {
                                        var file = $scope.file;

                                        if (file.url) {
                                            file.$destroy = function() {
                                                file.$state = 'pending';
                                                return $http({
                                                    url: file.deleteUrl,
                                                    method: file.deleteType
                                                }).then(
                                                        function() {
                                                            file.$state = 'ok';
                                                            $scope.clear(file);
                                                        },
                                                        function() {
                                                            file.$state = 'rejected';
                                                        }
                                                );
                                            };
                                        } else if (!file.$cancel && !file._index) {
                                            file.$cancel = function() {
                                                $scope.clear(file);
                                            };
                                        }
                                    }
                                };
                            }
                        ])

                        .directive('pageEdit', [
                            function () {
                                return {
                                    restrict: 'A',
                                    priority: 128, // executa primeiro
                                    require: '^page',
                                    controller: function ($scope, $element) {
                                        var file = $scope.file,
                                            input = $element.find('input[type=file]');

                                        if (file.url) { // já fez o upload

                                            input.fileupload({
                                                url: file.deleteUrl,
                                                dropZone: false,
                                                submit: function (e, data) {
                                                    $scope.$apply(function () {
                                                        file.$state = 'pending';
                                                    });
                                                    data.formData = file.info;
                                                    return true;
                                                },
                                                done: function (e, data) {
                                                    $scope.$apply(function () {
                                                        $scope.replace([file], data.result.files);
                                                        file.$state = 'ok';
                                                    });
                                                }
                                            });
                                        }

                                        /*$scope.$on('$destroy', function () {
                                            // avoid memory leak
                                            input.fileupload('destroy');
                                        });*/
                                    }
                                };
                            }
                        ])

                        .directive('pagePreview', [
                            function () {
                                return {
                                    restrict: 'A',
                                    require: '^page',
                                    controller: 'PagePreviewController'
                                };
                            }
                        ])

                        // Display File Upload previews:
                        .controller('PagePreviewController', [
                            '$scope', '$element', '$attrs',
                            function ($scope, $element, $attrs) {

                                var clone = function cloneCanvas(oldCanvas) {
                                    //create a new canvas
                                    var newCanvas = document.createElement('canvas');
                                    var context = newCanvas.getContext('2d');

                                    //set dimensions
                                    newCanvas.width = oldCanvas.width;
                                    newCanvas.height = oldCanvas.height;

                                    //apply the old canvas to the new one
                                    context.drawImage(oldCanvas, 0, 0);

                                    //return the new canvas
                                    return newCanvas;
                                }

                                $scope.$watch(
                                    $attrs.pagePreview + '.preview',
                                    function (preview) {
                                        $element.empty();
                                        if (preview) {
                                            var newPrev = clone(preview);
                                            $element.append(newPrev);
                                        }
                                    }
                                );
                            }
                        ])

                        ;
            }());
        </script>
    </body>
</html>