
    <div class="container">
        <style>
            .page {
                width: 180px;
                height: 230px;
                display: inline-block;
                overflow:hidden;
                margin:3px;
                box-sizing: content-box;
                -moz-box-sizing: content-box;
                -webkit-box-sizing: content-box;
            }
            .page .preview,
            .page .preview .preview-progress{
                position: relative;
            }
            .page .preview img,
            .page .preview canvas {
                width:180px;
                opacity:0.053 !important;
            }
            .page .preview .preview-progress .back,
            .page .preview .preview-progress .fore,
            .page .preview .preview-progress .title{
                position: absolute;
                width:100%;
                height: 230px;
                left:0;
                top:0;
                overflow: hidden;
            }
            .page .preview .preview-progress .back {
                opacity: 0.3;
            }
            .page .preview .preview-progress .fore {
                opacity: 0.5;
                width: 0;
                transition: width ease 0.4s;
                -moz-transition: width ease 0.4s;
                -webkit-transition: width ease 0.4s;
            }
            .page .preview .preview-progress .title {
                display: table;
            }
            .page .preview .preview-progress .title span {
                display: table-cell;
                vertical-align: middle;
                font-size: 13px;
                text-align: center;
            }
            .page .preview .preview-properties {
                position: absolute;
                top: 4px;
                left: 4px;
                opacity: 0.4;
            }
            .page:hover .preview .preview-properties {
                opacity: 0.8;
            }
            .page .preview .preview-properties .btn {
                background: #111;
                color: #fff;
                border-color: #000;
                opacity: 0.7;
            }
            .page .preview .preview-properties .btn:hover {
                opacity:1;
            }
            .page .preview .preview-properties .btn:disabled *,
            .page .preview .preview-properties .btn.disabled *{
                opacity:0.9;
            }

            .page .page-inner {
                background: #eee;
                height: 230px;
                position: relative;
            }
            .page.page-double {
                margin-left: 6px;
                margin-right: 0;
            }
            .page.page-double + .page {
                margin-right: 6px;
                margin-left: 0;
            }
            .page.page-cover {
                margin: 0 !important;
                border: 3px solid #aaa;
            }
            .page .page-properties {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 180px;
                padding: 10px;
                background: rgba(0,0,0,.06);
                color: #000;

            }

            .page .page-move-handle {
                position: absolute;
                left: 0;
                top: 0;
                width: 180px;
                height: 230px;
                text-align: center;
                cursor: move;
            }

            .loading-status {
                display:none;
            }
            .fileupload-processing .loading-status {
                display:block;
            }


            .dropzone {
                height: 50px;
                line-height: 50px;
                text-align: center;
                font-weight: bold;
            }
            .dropzone.in {
                height: 100px;
                line-height: 100px;
                font-size: larger;
                background: #eee;
            }
            .dropzone.hover {
                background: lawngreen;
            }
            .dropzone.fade {
                -webkit-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;
                -ms-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
                opacity: 0.4;
            }

        </style>
        <!-- The file upload form used as target for the file upload widget -->
        <form id="fileupload" action="./upload" method="POST" enctype="multipart/form-data" ng-app="demo" ng-controller="DemoFileUploadController" file-upload="options" file-upload-extend ng-class="{'fileupload-processing': processing() || loadingFiles}">
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <div class="row fileupload-buttonbar">
                <div class="col-lg-6">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-default fileinput-button" ng-class="{disabled: disabled}">
                        <span>add</span>
                        <input type="file" name="files[]" multiple ng-disabled="disabled">
                    </span>
                    <button type="button" class="btn btn-default start" ng-click="submit()">
                        <span>start</span>
                    </button>
                    <button type="button" class="btn btn-default cancel" ng-click="cancel()">
                        <span>cancel</span>
                    </button>
                    <button type="button" class="btn btn-default cancel" ng-click="applyOnQueue('$destroy')">
                        <span>delete all</span>
                    </button>

                    <!-- The global file processing state -->
                    <span class="fileupload-process"></span>
                </div>

                <!-- The global progress state -->
                <div class="col-lg-3 fade" data-ng-class="{in: active()}">
                    <!-- The global progress bar -->
                    <div class="bar" role="bar" data-file-upload-progress="progress()" style="-webkit-transform: translate3d(-54.483824352268115%, 0px, 0px);"  data-ng-style="{'margin-left': (num - 100) + '%'}"><div class="peg"></div></div>
                </div>
                <div class="col-lg-3">
                    <div class="dropzone fade">
                        Arraste aqui
                    </div>
                </div>
            </div>
            <!-- The table listing the files available for upload/download -->
            <div ui-sortable="sortableOptions" ng-model="queue" class="pages ng-cloak">
                <div ng-repeat="file in queue" data-page="file" class="page" ng-class="{ 'page-double': file.info.double, 'page-cover': $first }">
                    <div class="page-inner">
                        <div class="preview" ng-switch on="!!file.thumbnailUrl">
                            <img ng-switch-when="true" ng-src="{{file.thumbnailUrl}}" alt=""/>
                            <div ng-switch-default class="preview-progress" data-file-upload-progress="file.$progress()">
                                <div ng-show="!file.preview" class="title">
                                    <span>{{file.name}}</span>
                                </div>
                                <div class="back" data-page-preview="file"></div>
                                <div class="fore" data-page-preview="file" ng-style="{width: num + '%'}"></div>
                            </div>
                            <div class="page-move-handle" ng-hide="file.$state === 'pending'">
                            </div>
                            <div class="btn-group preview-properties">
                                <span title="Alterar imagem"
                                      data-page-edit="file"
                                      class="btn btn-sm fileinput-button"
                                      ng-hide="!file.id"
                                      ng-class="{pending: 'disabled'}[file.$state]">
                                    <i class="fa fa-pencil"></i>
                                    <input type="file" name="file" ng-hide="file.$state === 'pending'">
                                </span>
                                <button title="Excluir página"
                                        type="button"
                                        data-page-destroy="file"
                                        ng-click="file.$destroy()"
                                        ng-hide="!file.$destroy"
                                        class="btn btn-sm"
                                        ng-disabled="file.$state === 'pending'">
                                    <i class="fa fa-times"></i>
                                </button>
                                <button title="Cancelar"
                                        type="button"
                                        ng-click="file.$cancel()"
                                        ng-hide="!file.$cancel"
                                        class="btn btn-sm">
                                    <i class="fa fa-ban"></i>
                                </button>
                            </div>
                        </div>
                        <div class="page-properties" ng-hide="!file.$save">
                            <span class="loading fade spinner" role="spinner" ng-class="{ pending: 'in' }[file.$state]">
                                <span class="spinner-icon"></span>
                            </span>
                            <label ng-show="$odd && !$last">
                                <input type="checkbox" ng-model="file.info.double">
                            </label>
                        </div>
                    </div>
<!--                        <table class="table table-striped files ng-cloak">
                        <tr ng-class="{'processing': file.$processing()}">
                            <td data-ng-switch data-on="!!file.thumbnailUrl">
                                <div class="preview" data-ng-switch-when="true">
                                    <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}"><img data-ng-src="{{file.thumbnailUrl}}" width="3" alt=""></a>
                                </div>
                                <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                            </td>
                            <td>
                                <p class="name" data-ng-switch data-on="!!file.url">
                                    <span data-ng-switch-when="true" data-ng-switch on="!!file.thumbnailUrl">
                                        <a ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                                        <a ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                                    </span>
                                    <span data-ng-switch-default>{{file.name}}</span>
                                </p>
                                <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                                <div>Ordem: {{file.info.order}} | bla: <input type="text" ng-model="file.info.bla"> {{file.info.bla}}</div>
                            </td>
                            <td>
                                <p class="size">{{file.size| formatFileSize}}</p>
                                <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default start" data-ng-click="file.$submit()" data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
                                    <span>start</span>
                                </button>
                                <button type="button" class="btn btn-default cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                                    <span>cancel</span>
                                </button>
                                <button ng-controller="FileDestroyController" type="button" class="btn btn-default destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
                                    <span>delete</span>
                                </button>
                                <span ng-controller="FileAlterController" class="btn btn-default fileinput-button" data-ng-hide="!file.url">
                                    <span>alter</span>
                                    <input type="file" name="file">
                                </span>
                            </td>
                        </tr>
                    </table>-->
                </div>
            </div>
            <div class="loading-status">carregando...</div>
            <!--<pre>{{ queue | json }}</pre>-->
        </form>
    </div>